<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://github.com/tuhrig/mebo" target="_blank">GitHub</a>
                    |
                    <a href="http://tuhrig.de" target="_blank">Thomas Uhrig</a>
                    |
                    <a href="https://www.coursera.org/specializations/full-stack">Coursera</a>
                </div>
            </div>
        </div>
    </div>
</footer>