<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">


                <div ng-show="!$ctrl.deadMode">
                    <span ng-show="!$ctrl.editMode" ng-bind-html="$ctrl.textAsHtml"></span>
                    <textarea ng-show="$ctrl.editMode" type="text" class="form-control" ng-model="$ctrl.message.text"></textarea>
                </div>

                <div ng-show="$ctrl.deadMode">
                    This message has been deleted!
                </div>

            </div>
            <div class="panel-footer" ng-show="!$ctrl.deadMode">

                <div ng-show="$ctrl.readMode">
                    <button type="button" ng-click="$ctrl.activateEditMode()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <button type="button" ng-click="$ctrl.activateDeleteMode()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                    <button type="button" ng-click="$ctrl.voteDown()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>

                    <button type="button" ng-click="$ctrl.voteUp()" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-triangle-top"></span>
                    </button>

                    <span class="message-votes">{{ $ctrl.message.votes }}</span>
                    <span class="message-date">{{ $ctrl.message.date }}</span>
                </div>

                <div ng-show="$ctrl.editMode">
                    <button type="button" class="btn btn-success btn-sm" ng-click="$ctrl.edit()">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.activateReadMode()">Cancel</button>
                </div>

                <div ng-show="$ctrl.deleteMode">
                    <button type="button" class="btn btn-danger btn-sm" ng-click="$ctrl.delete()">Delete</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.activateReadMode()">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>