<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ $ctrl.message.title }} ({{ $ctrl.message.votes }})
            </div>
            <div class="panel-body">
                {{ $ctrl.message.text }}
            </div>
            <div class="panel-footer">

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>

                <button type="button" ng-click="$ctrl.voteDown()" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>

                <button type="button" ng-click="$ctrl.voteUp()" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-triangle-top"></span>
                </button>

                <span class="message-date">{{ $ctrl.message.date }}</span>

            </div>
        </div>
    </div>
</div>