<div class="text-center title">MEBO</div>

<div class="landing-content">
<board-creator></board-creator>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-th"></span> MEBO</h2>
        <hr>
        <p>
            MEBO is an anonymous online message board.
            Go ahead and create our own private board and share the link to invite people.
            Everybody can write, read or edit messages.
            Become collaborative!
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-education"></span> Coursera</h2>
        <hr>
        <p>
            This project is an academic work.
            It's my final capstone project for the Full Stack Web Development course on Coursera.
            Read more at: <a href="https://www.coursera.org/learn/web-development-project" target="_blank">https://www.coursera.org/learn/web-development-project</a>.
        </p>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-pencil"></span> GitHub</h2>
        <hr>
        <p>
            You can find the project on <a href="https://github.com/tuhrig/mebo" target="_blank">GitHub</a>.
            It includes all source code as well as the documentation for Coursera.
        </p>
    </div>
</div>