<div class="row">
    <form class="col-md-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Search:</div>
                <input type="text" class="form-control" ng-model="$ctrl.filter.search">
                <div class="input-group-addon">Sort:</div>
                <div class="input-group-btn">
                    <button class="btn btn-default" ng-click="$ctrl.filter.sortType = 'text'; $ctrl.filter.sortReverse = !$ctrl.filter.sortReverse">Text</button>
                    <button class="btn btn-default" ng-click="$ctrl.filter.sortType = 'votes'; $ctrl.filter.sortReverse = !$ctrl.filter.sortReverse">Votes</button>
                </div>
            </div>
        </div>
    </form>
</div>