<div class="row">
    <div class="col-lg-12 text-center">
        <h2>FAQ</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>What is MeBo?</h2>
        <p>
            MeBo is an online message board. Users can create private boards, anonymously and for free. Boards can
            be shared with other users by their unique link or ID. Anyone who know the link to a board can read,
            write and edit messages on the board.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>What can I do on a board?</h2>
        <p>
            Basically, users can write message on the board which other users can see. However, users can not only
            read, but also edit or delete message. Every board is completely collaborative.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Where can I get the code?</h2>
        <p>
            You can find the project on GitHub: <a href="https://github.com/tuhrig/mebo" target="_blank">https://github.com/tuhrig/mebo</a>.
        </p>
    </div>
</div>